.navbar {
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
.navbar__brand {
  display: flex;
  align-items: center;
}
.navbar__logo {
  margin-right: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.navbar__name {
  margin: 0;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  padding: 0;
  margin: 0;
  font-weight: 500;
  color: dodgerblue;
  cursor: pointer;
  margin-left: 60px;
  color: white;
  cursor: pointer;
}
